<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graungaard.pvc_app" >

    <application
        android:name=".DataHolderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.graungaard.pvc_app.MyActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".ServerHandler"
            android:exported="false" />

        <activity
            android:name=".StartNodeActivity"
            android:label="@string/title_activity_start_node" >
        </activity>
        <activity
            android:name=".CallActivity"
            android:label="@string/title_activity_call" >
        </activity>
        <activity
            android:name=".MafiaMessageActivity"
            android:label="@string/title_activity_mafia_message" >
        </activity>
        <activity
            android:name=".GpsActivity"
            android:label="@string/title_activity_mission_info" >
        </activity>
        <activity
            android:name=".WeaponActivity"
            android:label="@string/title_activity_weapon" >
        </activity>
        <activity
            android:name=".SawActivity"
            android:label="@string/title_activity_saw" >
        </activity>
        <activity
            android:name=".AxeActivity"
            android:label="@string/title_activity_axe" >
        </activity>
        <activity
            android:name=".SuccessActivity"
            android:label="@string/title_activity_success" >
        </activity>
        <activity
            android:name=".SetupActivity"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name=".PoliceActivity"
            android:label="@string/title_activity_police" >
        </activity>
        <activity
            android:name=".PoliceMessageActivity"
            android:label="@string/title_activity_police_message" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".ValgActivity"
            android:label="@string/title_activity_valg" >
        </activity>
        <activity
            android:name=".PoliceSuccesActivity"
            android:label="@string/title_activity_police_succes" >
        </activity>
        <activity
            android:name=".MafiaSuccesActivity"
            android:label="@string/title_activity_mafia_succes" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
